*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

body{
   
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: #e4e4e4;
    font-size: larger;
}

.conteudo{
    width: 100%;
    height: 100%;
    justify-content: center;
   
}

.header{
    width: 100%;
    justify-content: center;
    display:flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    background-color: #313131;
}

.buttons,
.buttons a{
    display: flex;
    align-items: center;
}
.buttons button,
.buttons a{
    font-size: 15px;
    margin: 30px 30px;
    border:none;
    color: rgb(255, 255, 255);
    background-color: rgb(71, 71, 71);
    padding: 0.6rem 0.8rem;
    border-radius: 3px;
    cursor: pointer;
}
   
.buttons button,
.buttons a:hover{
    background-color: rgb(87, 87, 87);
}

.user-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.1rem 5;
    flex-direction:column;
    margin-bottom: 1.1rem;
}


.user-input input{
    color: #bbbbbb;
    background-color: #7a7a7a;
    margin: 0.8rem 0;
    padding: 0.7rem 0.8rem;
    border:none;
    border-radius: 2px;
}

.user-input input:hover{
    background-color: rgb(116, 116, 116);
}

.user-input input:focus-visible{
    outline: 0.7px solid #ffffff;
}

.user-input label,
.title h6{
    font-size: 0.8rem;
    font-weight: 550;
    color: #ffffff;
}

.user-input label{
    display: block;
    width: 30rem;
    float: left;
}

.user-input input::placeholder{
    color: #ffffff;
}


.down-bttns,
.down-bttns a{
    display: flex;
    align-items: center;
}
.down-bttns button,
.down-bttns a{
    font-size: 15px;
    margin: 30px 90px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(71, 71, 71);
    padding: 0.6rem 0.8rem;
    border-radius: 3px;
    cursor: pointer;
}
   
.down-bttns button,
.down-bttns a:hover{
    background-color: rgb(87, 87, 87);
}